[submodule "ss8_clean_code_refactoring/practise/rename_variables_and_split_constants"]
	path = ss8_clean_code_refactoring/practise/rename_variables_and_split_constants
	url = https://github.com/codegym-vn/apj-2023-calculator.git
